@font-face{
    font-family: "Belladona";
    src: url("/static/Belladona.otf") format("otf");
}

$font-primary: "Segoe UI";
$font-secondary: "Belladona";

$color-back: #191919;

$color-text-secondary: #07FFAA;
$color-text-third: #007180;