body {
    background-color: #191919;
    background-image: url('./../bg.png');
}


h1,h2{
    font-family: $font-secondary !important;
    a
    {
        text-decoration: none;
        color: $color-text-secondary;
    }
}

app-header{
    display: block;
    @media screen and (max-width: 860px) {
        text-align: center;
    }    
}

app-footer
{
    display: block;
    text-align: center;
    font-family: $font-primary;
    color: #D6D6D6;
    margin-bottom: 20px;
}

h1
{
    display: inline-block;
    margin: 20px;
    letter-spacing: 5;
    font-size: 30px;
    color: $color-text-secondary;

}

em{
    font-style: italic;
}

ul
{
    list-style: inside;
}

strong 
{
    font-weight: 900;
}

a{
    text-decoration: none;
    color: $color-text-third;
}

div.jade
{
    background-image: url(./../ornement.png);
    width: 270px;
    height: 350px;
    position: fixed;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media screen and (max-height: 630px) {
        display: none;
    }

    @media screen and (max-width: 960px) {
        display: none;
    }
}

div.jadouste
{
    background-image: url(./../ornement.png);
    width: 170px;
    height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotateX(180deg) rotateY(180deg);

    @media screen and (max-height: 630px) {
        display: none;
    }

    @media screen and (max-width: 1060px) {
        display: none;
    }
}