body {
    background-color: #191919;
    background-image: url('/static/bg.png');
}


h1,h2{
    font-family: $font-secondary !important;
    a
    {
        text-decoration: none;
        color: $color-text-secondary;
    }
}

h1
{
    display: inline-block;
    margin: 20px;
    letter-spacing: 5;
    font-size: 30px;
    color: $color-text-secondary;

}

div.jade
{
    background-image: url("/static/jade.png");
    width: 170px;
    height: 500px;
    position: fixed;
    top: 50%;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);

    @media screen and (max-height: 630px) {
        display: none;
    }

    @media screen and (max-width: 860px) {
        display: none;
    }
}

div.jadouste
{
    background-image: url('/static/jade.png');
    width: 170px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50%);
    background-position: 100%;

    @media screen and (max-height: 630px) {
        display: none;
    }

    @media screen and (max-width: 860px) {
        display: none;
    }
}