body {
    background-color: #191919;
    background-image: url('./../bg.png');
}


h1,h2{
    font-family: $font-secondary !important;
    a
    {
        text-decoration: none;
        color: $color-text-secondary;
    }
}

app-header{
    display: block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);

        text-align: center;

        h1 a{
            font-size: 50px;
        }
}

app-footer
{
    display: block;
    text-align: center;
    font-family: $font-primary;
    color: #D6D6D6;
    //margin-bottom: 20px;
    //background-color: rgb(36,36,36);
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

    div 
    {
        margin-bottom: 5px;
    }
}

app-sponsors
{
    display: none;
    text-align: left;
    font-family: "Segoe UI";
    color: #D6D6D6;
    margin-bottom: 20px;
    width: 218px;
    /* height: 250px; */
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    box-sizing: border-box;
    background-color: rgba(36,36,36, 0.5);

    div{
        width: 100%;
        margin: auto;
        ul {
            text-align: left;
            list-style: none;
        }
    }

    @media screen and (max-width: 1230px) {
        width: 170px;
    }

    @media screen and (max-width: 1130px) {
        width: 100%;
        position: static;
        margin: 0;
        text-align: center;
        div {
            width: 20%;
        }

    }
}

h1
{
    display: inline-block;
    margin: 20px;
    letter-spacing: 5;
    font-size: 30px;
    color: $color-text-secondary;

}

h2
{
    margin-bottom: 10px;
}

em{
    font-style: italic;
}

ul
{
    list-style: inside;
}

strong 
{
    font-weight: 900;
}

a{
    text-decoration: none;
    color: $color-text-third;
}

div.jade
{
    display: none;
    background-image: url(./../ornement.png);
    width: 270px;
    height: 350px;
    position: fixed;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;

    /*@media screen and (max-height: 630px) {
        display: none;
    }*/

    @media screen and (max-width: 1330px) {
        display: none;
    }
}

div.jadouste
{
    display: none;
    background-image: url(./../ornement.png);
    width: 170px;
    height: 250px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: rotateX(180deg) rotateY(180deg);

    @media screen and (max-height: 630px) {
        display: none;
    }

    @media screen and (max-width: 1060px) {
        display: none;
    }
}