@charset "UTF-8";
/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Belladona";
  src: url("./../Belladona.otf") format("truetype"); }

@font-face {
  font-family: "Segoe UI";
  src: url("./../SegoeUI.ttf") format("truetype"); }

body {
  background-color: #191919;
  background-image: url("./../bg.png"); }

h1, h2 {
  font-family: "Belladona" !important; }
  h1 a, h2 a {
    text-decoration: none;
    color: #07FFAA; }

app-header {
  display: block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  text-align: center; }
  app-header h1 a {
    font-size: 50px; }

app-footer {
  display: block;
  text-align: center;
  font-family: "Segoe UI";
  color: #D6D6D6;
  margin-bottom: 20px; }

app-sponsors {
  display: none;
  text-align: left;
  font-family: "Segoe UI";
  color: #D6D6D6;
  margin-bottom: 20px;
  width: 218px;
  /* height: 250px; */
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background-color: rgba(36, 36, 36, 0.5); }
  app-sponsors div {
    width: 100%;
    margin: auto; }
    app-sponsors div ul {
      text-align: left;
      list-style: none; }
  @media screen and (max-width: 1230px) {
    app-sponsors {
      width: 170px; } }
  @media screen and (max-width: 1130px) {
    app-sponsors {
      width: 100%;
      position: static;
      margin: 0;
      text-align: center; }
      app-sponsors div {
        width: 20%; } }

h1 {
  display: inline-block;
  margin: 20px;
  letter-spacing: 5;
  font-size: 30px;
  color: #07FFAA; }

h2 {
  margin-bottom: 10px; }

em {
  font-style: italic; }

ul {
  list-style: inside; }

strong {
  font-weight: 900; }

a {
  text-decoration: none;
  color: #007180; }

div.jade {
  display: none;
  background-image: url(./../ornement.png);
  width: 270px;
  height: 350px;
  position: fixed;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  /*@media screen and (max-height: 630px) {
        display: none;
    }*/ }
  @media screen and (max-width: 1330px) {
    div.jade {
      display: none; } }

div.jadouste {
  display: none;
  background-image: url(./../ornement.png);
  width: 170px;
  height: 250px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transform: rotateX(180deg) rotateY(180deg); }
  @media screen and (max-height: 630px) {
    div.jadouste {
      display: none; } }
  @media screen and (max-width: 1060px) {
    div.jadouste {
      display: none; } }

@keyframes loader {
  0% {
    transform: scaleX(1) scaleY(1); }
  25% {
    transform: scaleX(1.05) scaleY(1.05); }
  50% {
    transform: scaleX(1) scaleY(1); }
  75% {
    transform: scaleX(1.05) scaleY(1.05); } }

@-moz-keyframes loader {
  0% {
    -moz-transform: scaleX(1) scaleY(1); }
  25% {
    -moz-transform: scaleX(1.05) scaleY(1.05); }
  50% {
    -moz-transform: scaleX(1) scaleY(1); }
  75% {
    -moz-transform: scaleX(1.05) scaleY(1.05); } }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scaleX(1) scaleY(1); }
  25% {
    -webkit-transform: scaleX(1.05) scaleY(1.05); }
  50% {
    -webkit-transform: scaleX(1) scaleY(1); }
  75% {
    -webkit-transform: scaleX(1.05) scaleY(1.05); } }

@-o-keyframes loader {
  0% {
    -o-transform: scaleX(1) scaleY(1); }
  25% {
    -o-transform: scaleX(1.05) scaleY(1.05); }
  50% {
    -o-transform: scaleX(1) scaleY(1); }
  75% {
    -o-transform: scaleX(1.05) scaleY(1.05); } }

@-ms-keyframes loader {
  app-loader 0%, div[data-is=app-loader] 0% {
    -ms-transform: scaleX(1) scaleY(1); }
  app-loader 25%, div[data-is=app-loader] 25% {
    -ms-transform: scaleX(1.05) scaleY(1.05); }
  app-loader 50%, div[data-is=app-loader] 50% {
    -ms-transform: scaleX(1) scaleY(1); }
  app-loader 75%, div[data-is=app-loader] 75% {
    -ms-transform: scaleX(1.05) scaleY(1.05); } }

app-loader > div, div[data-is=app-loader] > div {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }
  app-loader > div img, div[data-is=app-loader] > div img {
    display: block;
    margin: auto;
    width: 200px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease;
    animation: loader linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: loader linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: loader linear 4s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: loader linear 4s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: loader linear 4s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%; }

app-article div.article, div[data-is=app-article] div.article {
  display: block;
  margin: auto;
  max-width: 720px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }
  app-article div.article div.picture, div[data-is=app-article] div.article div.picture {
    height: 240px;
    background-size: 0 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); }
    app-article div.article div.picture::before, div[data-is=app-article] div.article div.picture::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: inherit;
      background-size: cover;
      filter: grayscale(100%);
      position: absolute; }
    app-article div.article div.picture::after, div[data-is=app-article] div.article div.picture::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background: linear-gradient(to top, #007180, #07FFAA); }
    app-article div.article div.picture h2, div[data-is=app-article] div.article div.picture h2 {
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      font-size: 30px;
      line-height: 35px;
      min-width: 80%; }
  app-article div.article div.content, div[data-is=app-article] div.article div.content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    padding-top: 20px;
    font-size: 18px;
    color: #D6D6D6;
    font-family: "Segoe UI";
    text-align: justify;
    line-height: 25px;
    letter-spacing: 1; }
    app-article div.article div.content p:first-of-type::first-letter, div[data-is=app-article] div.article div.content p:first-of-type::first-letter {
      font-family: "Belladona";
      font-size: 30px; }
    @media screen and (max-width: 640px) {
      app-article div.article div.content, div[data-is=app-article] div.article div.content {
        text-justify: inter-character; } }
    app-article div.article div.content img, div[data-is=app-article] div.article div.content img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: auto;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      border-radius: 2px; }
  app-article div.article div.pub, div[data-is=app-article] div.article div.pub {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    padding-top: 20px;
    font-size: 16px;
    color: #565656;
    font-family: "Segoe UI";
    text-align: center;
    line-height: 25px;
    letter-spacing: 1;
    border-top: 5px solid #07FFAA; }
    app-article div.article div.pub p:first-of-type::first-letter, div[data-is=app-article] div.article div.pub p:first-of-type::first-letter {
      font-family: "Belladona";
      font-size: 30px; }
    app-article div.article div.pub p:first-of-type, div[data-is=app-article] div.article div.pub p:first-of-type {
      font-size: 18px;
      color: #D6D6D6;
      margin-bottom: 20px; }
    app-article div.article div.pub > div > div, div[data-is=app-article] div.article div.pub > div > div {
      margin: auto; }

app-articleitem {
  display: inline-block;
  height: 400px;
  width: 400px;
  position: relative;
  margin: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease; }
  app-articleitem:hover {
    transform: scale(1.05, 1.05); }
  app-articleitem h2 {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    box-sizing: border-box;
    color: white;
    transform: translateY(-50%);
    line-height: 22px; }
  app-articleitem div.picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 0; }
    app-articleitem div.picture:hover::before {
      -webkit-filter: none;
      filter: none; }
    app-articleitem div.picture:hover::after {
      background: none; }
    app-articleitem div.picture::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      background-image: inherit;
      background-size: cover;
      background-position: center;
      transition: all 1s ease; }
    app-articleitem div.picture::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background: linear-gradient(to top, #007180, #07FFAA); }

app-articlelist {
  display: block;
  margin: auto;
  max-width: 1400px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 5px solid #07FFAA;
  border-bottom: 5px solid #007180; }

/*Popin*/
﻿div#popin {
  position: fixed;
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  display: none; }

div#popin.visible {
  display: block; }
