app-articlelist
{
    display: block;
    margin: auto;
    max-width: 720px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 5px solid #07FFAA;
    border-bottom: 5px solid #007180;
}